
<!-- .................................................................
//.RRRRRRRRRR..........GGGGGGGG....GRRRRRRRRR...III..IDDDDDDDD.....
//.RRRRRRRRRRR........GGGGGGGGGG...GRRRRRRRRRR..III..IDDDDDDDDD....
//.RRRRRRRRRRR.......GGGGGGGGGGGG..GRRRRRRRRRR..III..IDDDDDDDDDD...
//.RRR.....RRR.......GGGG....GGGG..GRR.....RRR..III..IDD....DDDD...
//.RRR.....RRR.......GGG...........GRR.....RRR..III..IDD.....DDDD..
//.RRR...RRRRR.......GGG...........GRR...RRRRR..III..IDD.....DDDD..
//.RRRRRRRRRRR.......GGG...GGGGGG..GRRRRRRRRRR..III..IDD.....DDDD..
//.RRRRRRRRRR........GGG...GGGGGG..GRRRRRRRRR...III..IDD.....DDDD..
//.RRRRRRRRRR........GGG......GGG..GRRRRRRRRR...III..IDD.....DDDD..
//.RRR...RRRR........GGGG.....GGG..GRR...RRRR...III..IDD....DDDD...
//.RRR....RRRR.......GGGGGGGGGGGG..GRR....RRRR..III..IDDDDDDDDDD...
//.RRR....RRRR..... ..GGGGGGGGGGG..GRR....RRRR..III..IDDDDDDDDD....
//.RRR.....RRRR...0....GGGGGGGGG...GRR.....RRRR.III..IDDDDDDDD.....
//................................................................. -->


<!DOCTYPE html>
<html>
<head>

	<title>R.GRID</title>

	<meta name="format-detection" content="telephone=yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="/fonts/material-icons.css">

	<link rel="stylesheet" href="/stylesheets/bootstrap.css" />
	<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/stylesheets/getHTMLMediaElement.css" />
	<link rel="stylesheet" href="/stylesheets/symple.player.css" />
	<link rel="stylesheet" href="/stylesheets/app.css" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/wazy.css" />


	<script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script>


</head>
<body>
	<div class="container">

      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
        </div>
			</div>


			<!-- {{{body}}} -->

      <div id="particles-js"></div>
      <script type="text/javascript" src="/javascripts/particles.min.js"></script>
      <script >
      /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
      particlesJS.load('particles-js', '../particlesjs-config.json', function() {
      });
      </script>


      <div id="logo" class="col-xs-4 col-sm-6 col-lg-7" >
        <!-- <img src="/images/rgrid.png" class="img-responsive" style="width: inherit" /> -->
        <h1 class="text-light text-center"> Login</h1>
      </div>

      <!-- LOGIN FORM  -->
      <form action="/login" method="post" class="col-xs-5 col-sm-7 col-lg-9" >
          <div class="form-group">
              <label class="text-light">Username</label>
              <input type="text" class="form-control" placeholder="username" name="username">
          </div>
          <div class="form-group">
              <label class="text-light">Password</label>
              <input type="password" class="form-control" placeholder="Password" name="password">
          </div>

          <button type="submit" class="btn btn-success btn-lg ">Login <span class="fa fa-lock"></span></button>
          <hr>
          <p class="text-light">Don't have an account? <a href="/register">Register</a></p>
      </form>

      <!-- //{{{body}}} -->


			<footer class="footer text-light text-center" style="margin-bottom: 0;"><p>&copy; 2018 EURL R.Grid, Ritec-Group Inc, Boumerdes</p></footer>

    </div> <!-- /container -->
</body>
</html>
